<!DOCTYPE html>
<html ng-app='main_module'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <title>Angular Front End</title>
        <link href="/FrontEnd/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/angular-flash.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
       
        <!-- This is a placeholder for our views in this app -->
        <div ng-view></div>

        <script src="/FrontEnd/lib/jquery-2.1.4.min.js"></script>
        <script src="/FrontEnd/lib/angular.min.js"></script>
        <script src="/FrontEnd/lib/angular-flash.min.js"></script>
        <script src="/FrontEnd/lib/angular-animate.min.js"></script>
        <script src="/FrontEnd/lib/angular-route.min.js"></script>
        <script src="/FrontEnd/lib/angular-resource.min.js"></script>
        <script src="/FrontEnd/module/mainModule.js"></script>
        <script src="/FrontEnd/controllers/loginController.js"></script>
        <script src="/FrontEnd/controllers/friendDataController.js"></script>
        <script src="/FrontEnd/controllers/addPersonController.js"></script>
        <script src="/FrontEnd/controllers/editController.js"></script>
        <script src="/FrontEnd/controllers/deleteController.js"></script>
        <script src="/FrontEnd/factories/loginFactory.js"></script>
        <script src="/FrontEnd/factories/friendDataFactory.js"></script>
        
    </body>
</html>