<!DOCTYPE html>
<html ng-app='main_module'>
    <head>
        <meta charset="utf-8">
        <title>Angular Front End</title>
        <link href="/FrontEnd/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!-- This is a placeholder for our views in this app -->
        <div ng-view></div>
        <script src="/FrontEnd/lib/jquery-2.1.4.min.js"></script>
        <script src="/FrontEnd/lib/angular.min.js"></script>
        <script src="/FrontEnd/lib/angular-route.min.js"></script>
        <script src="/FrontEnd/module/mainModule.js"></script>
        <script src="/FrontEnd/controllers/loginController.js"></script>
        <script src="/FrontEnd/factories/loginFactory.js"></script>
    </body>
</html>